  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #521ad5 #dac7e0;
  }

  /* Chrome, Edge, y Safari */
  *::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #8880dd;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #1B146C;
    border-radius: 10px;
    border: 3px solid #1B146C;
  }