@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat',sans-serif;
  box-sizing: content-box;
}
*{
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
button:hover{
  cursor: pointer;
  color: #000;
}

p{
  margin:0;
}